@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    text-align: center;
    min-height: 100vh;
    background: aliceblue;
    position: relative;
}

.return-btn {
    background: linear-gradient(to left top, #2695df, #1d2ff7);
    color: aliceblue;
    font-weight: bolder;
    padding: .7rem;
    margin-top: .5rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
}


.info-team-container{
   /*  border: solid red 2px; */
}

.team-data-first{
  /*   border:  solid orange 3px; */
    margin: 10px;
}

.team-data-first img{
    max-width: 100%;
}

.team-data-first h1{
    font-weight: bolder;
    font-size: 100px;
    margin-bottom: 20px;
}
.team-data-first h2{
    /* border: solid skyblue 2px; */
    margin: 1.5rem;
}
.team-data-first span{
    font-weight: bolder;
    color: #2695df;
}


.team-data-second{
  /*   border: solid green 3px; */
    margin: 10px;
}

.team-data-second .section-leagues h1{
    margin: 1rem;
}

.team-data-second img{
    max-width: 100%;
}

.team-data-second .section-images{
    /* border:  solid tomato 2px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.loader{
    width: 250px;
    display: inline-block;
    margin: 0 auto;
    
}




.gallery{
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.test{
    position: fixed;
   /*  border: solid red 2px; */
    top: 10%;
}



.hidden{
    display: none;
}


.gallery .previous{
    font-size: 40px;
    position: absolute;
    left: -5%;
    top: 45%;
}
.gallery .next{
    font-size: 40px;
    position: absolute;
    top: 45%;
    right: -5%;
}

.close-modal{
    position: absolute;
    right: 0;
    top: -10%;
    font-size: 40px;
}

.next:hover, .previous:hover{
    color: #1d2ff7;
    cursor: pointer;
}

.close-modal:hover{
    color: red;
    cursor: pointer;
}

.gallery img{
    max-width: 100%;
}

@media screen and (max-width: 700px) {
    .team-data-first h1{
        font-size: 50px;
    }

    .team-data-first h2{
       /*  border: solid skyblue 2px; */
        margin: 15px 0;
    }
    .team-data-second .section-leagues h1{
        margin: 15px 0;
    }
    
    .team-data-second .section-images {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

   

}

@media screen and (max-width: 1000px) {
    .gallery .previous{
        font-size: 30px;
        position: absolute;
        left: 0%;
        top: 45%;
    }
    .gallery .next{
        font-size: 30px;
        position: absolute;
        top: 45%;
        right: 0%;
    }
    .close-modal{
        position: absolute;
        right: 0;
        top: -20%;
        font-size: 25px;
    
    }
}   